In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('rumah_jaksel.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   1001 non-null   object
 1   LT      1001 non-null   int64
 2   LB      1001 non-null   int64
 3   JKT     1001 non-null   int64
 4   JKM     1001 non-null   int64
 5   GRS     1001 non-null   object
 6   KOTA    1001 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.9+ KB

            HARGA    LT   LB  JKT  JKM  GRS    KOTA
0  28,000,000,000  1100  700    5    6  ADA  JAKSEL
1  19,000,000,000   824  800    4    4  ADA  JAKSEL
2   4,700,000,000   500  400    4    3  ADA  JAKSEL
3   4,900,000,000   251  300    5    4  ADA  JAKSEL
4  28,000,000,000  1340  575    4    5  ADA  JAKSEL

In [11]:
df = pd.DataFrame(df['HARGA,LT,LB,JKT,JKM,GRS,KOTA'].str.split(',', 6).tolist(),
                    columns = ['Harga', 'Luas_Tanah(m2)', 'Luas_Bangunan(m2)', 
                               'Kamar_Tidur','Kamar_Mandi','Garasi_Mobil','Lokasi'])

KeyError: 'HARGA,LT,LB,JKT,JKM,GRS,KOTA'

In [9]:
df['HargaJual'] = df['Harga']
del df['Harga']

KeyError: 'Harga'

In [10]:
df.head()

            HARGA    LT   LB  JKT  JKM  GRS    KOTA
0  28,000,000,000  1100  700    5    6  ADA  JAKSEL
1  19,000,000,000   824  800    4    4  ADA  JAKSEL
2   4,700,000,000   500  400    4    3  ADA  JAKSEL
3   4,900,000,000   251  300    5    4  ADA  JAKSEL
4  28,000,000,000  1340  575    4    5  ADA  JAKSEL

In [14]:
df['Harga'] = df['HargaJual'].str.replace('.', '').astype(float)
del df['HargaJual']

KeyError: 'HargaJual'

In [ ]:
df[['Luas_Tanah(m2)', 'Luas_Bangunan(m2)', 'Kamar_Tidur', 'Kamar_Mandi']] = df[['Luas_Tanah(m2)', 'Luas_Bangunan(m2)', 'Kamar_Tidur', 'Kamar_Mandi']].apply(pd.to_numeri)
df.head()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   1001 non-null   object
 1   LT      1001 non-null   int64
 2   LB      1001 non-null   int64
 3   JKT     1001 non-null   int64
 4   JKM     1001 non-null   int64
 5   GRS     1001 non-null   object
 6   KOTA    1001 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.9+ KB

In [ ]:
sns.scatterplot(x = 'Luas_Tanah(m2)',
                y = 'Harga',
                data = df
               )
plt.show()

In [ ]:
ax = sns.boxplot(x = df['Luas_Tanah(m2)'])

In [ ]:
indexNames = df[df['Luas_Tanah(m2)'] > 1500].index
df.drop(indexNames, inplace=True)

In [ ]:
sns.scatterplot(x = 'Luas_Tanah(m2)',
                y = 'Harga',
                data = df
               )
plt.show()

In [ ]:
sns.displot(df['Harga'])